body
{
	margin:0px;
	background-color: #575757;
}

.menuitem 
{
	position: absolute;
	width:120px;
	color:#D8D8D8;
	background-color:black;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	border-radius: 200px;
	height: 20px;
}

.menuitem a 
{
	color: white;
	text-decoration: none;
}
.menuitem :hover
{


}
#leftWall
{
	width: 670px;
	height: 650px;
	background-color: green;
	float: right; 	
}
#rightWall
{
	width: 680px;
	height: 650px;
	background-color: yellow;
}
#leftWall:hover
{
 color: red;
}