body
{
	margin:0px;
	background-color: #227EFF;
}

.menuitem 
{
	position: absolute;
	width:120px;
	color:#D8D8D8;
	background-color:#E84C36;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	border-radius: 200px;
	height: 20px;
}

.menuitem a 
{
	color: white;
	text-decoration: none;
}
.menuitem:hover
{
	
	width: 150px;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	 
	 transition: width 1s;

}
#leftWall
{
	width: 670px;
	height: 550px;
	background-color: white;
	float: right; 	
	border-left-style: solid;
	border-color: black;
	border-width: 2px;
}
#rightWall
{
	width: 680px;
	height: 550px;
	background-color: white;
	border-right-style: solid;
	border-color: black;
	border-width: 2px;
}

#leftWall:hover
{
 color: red;
}
p
{
	text-align: center;
	font-size: 30px;
	background-color: #227EFF;
	
}